{% extends 'base.html' %} {% block title %} <title>Login</title> {% endblock %}
{% block content %}

<header
  class="w3-display-container px-1"
  style="margin-top:30px;width:300px;margin-left:auto;margin-right:auto"
>
  <div class="w3-container" style="text-align:center;">
    <!-- title and icon -->
    <a
      href="{{ url_for('index') }}"
      class="w3-row badge badge-light rounded-circle"
    >
      <img
        class="w3-image"
        src="static/style/Icon1.png"
        width="60"
        height="60"
        alt=""
      />
    </a>
    <div class="w3-row my-2">
      <h4 style="opacity:0.8">Sign in to Lin's notebook</h4>
    </div>
  </div>

  <div class="w3-container mt-3">
    <p>
      New to Lin's Notebook?
      <span><a href="{{ url_for('main.index') }}">Create an account</a></span>
    </p>
  </div>
</header>
{% endblock %}
