{% extends 'base.html' %} {% block title %} <title>Login</title> {% endblock %}
{% block content %} 

<div
  class="w3-content"
  style="margin-top:20px;margin-left:300px;max-width:1400px;height:500px"
>
<!--event title-->
<header class="w3-content w3-display-container w3-center w3-border-bottom w3-white" style="margin-top:70px;max-width:1500px;height:600px">

    <div class="w3-col" style="width:70%">
        {% if urls | length > 0 %}
            <div className="ui embed">
                    <iframe
                      title="video player"
                      width="100%"
                      height="600px"
                      src="{{ urls[0] }}"
                      frameBorder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowFullScreen
                    > </iframe>
                  </div>
        {% else %}
						<div className="ui embed">
								<iframe
									title="video player"
									width="100%"
									height="600px"
									src="https://www.youtube.com/embed/CaFyZ4uQjBQ"
									frameBorder="0"
									allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
									allowFullScreen
								> </iframe>
							</div>
        {% endif %}
        <!-- <img src="./static/style/Icon1.png"  class="w3-opacity-min" style="height:600px;width:100%"> -->
    </div>
    <div class="w3-col w3-display-container" style="width:30%">
			<div class="w3-center w3-content" style=" margin-top:200px">
					<h1 class="w3-xxlarge w3-text-pink w3-opacity-min w3-margin-bottom"><b> dasdasdas </b></h1>
					<h3 class="w3-opacity w3-text-grey w3-center" style="word-wrap: break-word;width:90%;margin-left:30px"><b>dasdsa</b></h3>
					<br><br><br><br>
			</div>
	</div>
</header>
<!--end of the event title-->
    <div class="w3-container" style="padding:40px;max-width:1400px;">
				<div class="w3-col w3-white w3-card w3-display-container" style="padding:15px;margin-left: 15px;margin-top: 25px;height:400px;width:70%">
						<div class="w3-col w3-container" style="width:50%;font-family:Arial">
								<h4 style="font-family:Arial"> <i class="fas fa-map-marker-alt w3-text-red"></i> <b>Address:</b></h4> <h5>dasdsadsa</h5><br>
								<h4 style="font-family:Arial"><i class="fa fa-mobile-phone w3-text-red"></i> <b>Phone Number:</b></h4> <h4>dasdas</h4><br>
								<h4 style="font-family:Arial"><i class="fas fa-award w3-text-red"></i> <b>Tourist Award:</b></h4> dasdas<br><br>
								<h4 style="font-family:Arial"><i class="fas fa-bookmark w3-text-red"></i> <b>Rate:</b></h4> <h2 class="w3-text-red w3-opacity-min" style="font-family:Arial"><b>4.5</b></h2><br>
						</div>

						<div class="w3-container w3-col" style="width:45%;font-family:Arial">
								<h4><i class="fa fa-clock-o w3-text-red"></i> <b class="w3-opacity-min">Open Hours</b></h4><hr>
								
						</div>
				</div>
				
				<div class="w3-col w3-container w3-center" style="width:20%; margin-top:20px">
						<h4 style="font-family:Arial" class="text-info w3-opacity-min"><b>Click to see Diagrams</b></h4><hr>
						<div class="w3-row w3-margin-top">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal" style="width:120px" data-target="#exampleModal1">
								nutrition
							</button>
						</div>
				
						<div class="w3-row w3-margin-top">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal" style="width:120px" data-target="#exampleModal2">
								ingredient
							</button>
						</div>
						<div class="w3-row w3-margin-top">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal" style="width:120px" data-target="#exampleModal3">
								equipments
							</button>
						</div>
				</div>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-xl" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ nutri | safe }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-xl" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ ingre | safe }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-xl" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ equip | safe }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}
